﻿@page
@model Orgatron.Pages.Parties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    @if (Model.Partie.EtatChrono != Models.EtatChrono.Created)
    {
        <h4>Chrono : </h4>
        @if (Model.Partie.EtatChrono == Models.EtatChrono.Paused)
        {
            <div id="chrono">@((Model.Partie.DateDebutPause - Model.Partie.DateDebutChrono.AddSeconds(Model.Partie.NbSecondesPauseChrono - 1)).ToString("m'm 's's'"))</div>
        }
        else
        {
            <div id="chrono">@((DateTime.Now - Model.Partie.DateDebutChrono.AddSeconds(Model.Partie.NbSecondesPauseChrono - 1)).ToString("m'm 's's'"))</div>
        }
    }

    @if (Model.Partie.Etat == Models.EtatPartie.Started && (await AuthorizationService.AuthorizeAsync(User, Model.Partie, "EstArbitrePartie")).Succeeded)
    {
        @if (Model.Partie.EtatChrono == Models.EtatChrono.Created)
        {
            <h4>Chrono : </h4>
        }

        <div class="row">
            @if (Model.Partie.EtatChrono == Models.EtatChrono.Paused || Model.Partie.EtatChrono == Models.EtatChrono.Created)
            {
                <div class="col-4">
                    <form asp-page-handler="StartChrono" method="post" asp-route-id="@Model.Partie.Id">
                        <button class="btn btn-default">Démarrer le chrono</button>
                    </form>
                </div>
            }

            @if (Model.Partie.EtatChrono == Models.EtatChrono.Started)
            {
                <div class="col-4">
                    <form asp-page-handler="PauseChrono" method="post" asp-route-id="@Model.Partie.Id">
                        <button class="btn btn-default">Pause / Stop</button>
                    </form>
                </div>
            }

            @if (Model.Partie.EtatChrono == Models.EtatChrono.Paused)
            {
                <div class="col-4">
                    <form asp-page-handler="RebootChrono" method="post" asp-route-id="@Model.Partie.Id">
                        <button class="btn btn-default">Remise à zéro</button>
                    </form>
                </div>
            }
        </div>


    }

    <h4>Détails de la partie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nom du jeu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.Jeu.Nom)
        </dd>
        <dt class="col-sm-2">
            Etat
        </dt>
        @if (Model.Partie.Etat == Models.EtatPartie.Cancelled)
        {
            <dd class="col-sm-10 text-danger">
                @Model.Partie.Etat.GetDescription()
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Model.Partie.Etat.GetDescription()
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Partie.Jeu.Regles)
        </dt>
        <dd class="col-sm-10">
            <markdown markdown="@Model.Partie.Jeu.Regles" />
        </dd>
        @if (@Model.Partie.DateDebut != DateTime.MinValue)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Partie.DateDebut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Partie.DateDebut)
            </dd>
        }
        @if (@Model.Partie.DateFin != DateTime.MinValue)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Partie.DateFin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Partie.DateFin)
            </dd>
        }
        <dt class="col-sm-2">
            Arbitre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.Arbitre.UserName)
            @if (Model.Partie.Etat == Models.EtatPartie.Created)
            {
                <a asp-page="/Parties/RepondreArbitrageAutreJoueur" asp-route-idPartie="@Model.Partie.Id"> désinscrire</a>
            }
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Joueurs
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Partie.Participants[0].Equipe)
            </th>
            @if (Model.Partie.Etat == Models.EtatPartie.Ended)
            {
                <th>
                    @Html.DisplayNameFor(model => Model.Partie.Participants[0].Points)
                </th>
            }
            @if (Model.Partie.Etat == Models.EtatPartie.Created || Model.Partie.Etat == Models.EtatPartie.Cancelled)
            {
                <th>
                    @Html.DisplayNameFor(model => Model.Partie.Participants[0].Etat)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Partie.Participants.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Partie.Participants[i].User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Partie.Participants[i].Equipe)
                </td>
                @if (Model.Partie.Etat == Models.EtatPartie.Ended)
                {
                    <td>
                        @Html.DisplayFor(model => Model.Partie.Participants[i].Points)
                    </td>
                }
                @if (Model.Partie.Etat == Models.EtatPartie.Created || Model.Partie.Etat == Models.EtatPartie.Cancelled)
                {
                    <td>
                        @if (Model.Partie.Etat == Models.EtatPartie.Created)
                        {
                            <a asp-page="/Participants/RepondreInvitationAutreJoueur" asp-route-idInvitation="@Model.Partie.Participants[i].Id"> désinscrire</a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Model.Partie.Etat == Models.EtatPartie.Created && (await AuthorizationService.AuthorizeAsync(User, Model.Partie, "EstArbitrePartie")).Succeeded)
{
    <h4>Tout le monde est là ? </h4>
    <form asp-page-handler="DemarrerPartie" method="post" asp-route-id="@Model.Partie.Id">
        <button class="btn btn-primary">Démarrer la partie</button>
    </form>
}


@if (Model.Partie.Etat == Models.EtatPartie.Started && (await AuthorizationService.AuthorizeAsync(User, Model.Partie, "EstArbitrePartie")).Succeeded)
{
    <a asp-page="/Parties/Score" asp-route-id="@Model.Partie.Id">
        <input type="button" class="btn btn-primary" value="Entrer les résultats" />
    </a>
}

@if ((await AuthorizationService.AuthorizeAsync(User, Model.Partie, "EstArbitrePartie")).Succeeded && Model.Partie.Etat == Models.EtatPartie.Ended)
{
    <a asp-page="/Parties/Score" asp-route-id="@Model.Partie.Id">
        <input type="button" class="btn btn-primary" value="Corriger les résultats" />
    </a>

}
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <div>
        <a asp-page="/Parties/Modifier" asp-route-id="@Model.Partie.Id">
            <input type="button" class="btn btn-primary" value="Modifier" />
        </a>
    </div>
}
<a asp-page="/Evenements/Home" asp-route-id="@Model.Partie.Evenement.Id">Retour</a>

@if (Model.Partie.EtatChrono != Models.EtatChrono.Paused)
{
    <script>

	// Set the starting gate
	var begining = new Date('@Model.Partie.DateDebutChrono.AddSeconds(Model.Partie.NbSecondesPauseChrono).ToString("s")').getTime();

	var decalage = new Date('@DateTime.Now.ToString("s")').getTime() - new Date().getTime();

	// Update the count down every 1 second
	var x = setInterval(function () {

		// Get todays date and time
		var now = new Date().getTime();

		// Find the distance between now and the count down date
		var distance = now - begining - decalage;

		// Time calculations for days, hours, minutes and seconds
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		document.getElementById("chrono").innerHTML = minutes + "m " + seconds + "s ";

	}, 1000);
    </script>
}
else
{
    <script>
		var begining = new Date('@Model.Partie.DateDebutChrono.AddSeconds(Model.Partie.NbSecondesPauseChrono).ToString("s")').getTime();

		var pause = new Date('@Model.Partie.DateDebutPause.ToString("s")').getTime();

		// Find the distance between now and the count down date
		var distance = pause - begining

		// Time calculations for days, hours, minutes and seconds
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		document.getElementById("chrono").innerHTML = minutes + "m " + seconds + "s ";
    </script>
}
