﻿@page
@model Orgatron.Pages.Parties.ScoreModel

@{
	ViewData["Title"] = "Details";
}

<div>

	<h4>Détails de la partie</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Nom du jeu
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Equipes.Jeu.Nom)
		</dd>
		<dt class="col-sm-2">
			Chrono
		</dt>
		<dd class="col-sm-10" id="chrono">
			@Html.DisplayFor(model => model.Equipes.Chrono)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Equipes.Jeu.Regles)
		</dt>
		<dd class="col-sm-10">
			<markdown markdown="@Model.Equipes.Jeu.Regles" />
		</dd>
	</dl>
</div>
<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label class="control-label font-weight-bold">Notes générales</label>
		<input asp-for="Equipes.Notes" class="form-control" />
		<span asp-validation-for="Equipes.Notes" class="text-danger"></span>
	</div>
	<input type="hidden" asp-for="Equipes.PartieId" />
	<table class="table">
		<thead>
			<tr>
				<th>
					Equipe
				</th>
				<th>
					Joueurs
				</th>
				<th>
					Points
				</th>
				<th>
					Notes sur l'équipe
				</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Equipes.ListeEquipe.Count(); i++)
			{
				<tr>
					<td>
						<input type="hidden" asp-for="Equipes.ListeEquipe[i].Name" />
						@Html.DisplayFor(model => Model.Equipes.ListeEquipe[i].Name)
					</td>
                    <td>
                        <input type="hidden" asp-for="Equipes.ListeEquipe[i].Participants" />
                        <input type="hidden" asp-for="Equipes.ListeEquipe[i].NbParticipants" />
                        @Html.DisplayFor(model => Model.Equipes.ListeEquipe[i].Participants)
                    </td>
					<td>
						<div class="form-group">
							<input asp-for="Equipes.ListeEquipe[i].Points" class="form-control" />
							<span asp-validation-for="Equipes.ListeEquipe[i].Points" class="text-danger"></span>
						</div>
					</td>
					<td>
						<div class="form-group">
							<input asp-for="Equipes.ListeEquipe[i].Notes" class="form-control" />
							<span asp-validation-for="Equipes.ListeEquipe[i].Notes" class="text-danger"></span>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<label class="text-danger">@Model.ErreurClassement</label>
	<div class="form-group">
		<input type="submit" value="Terminer la partie et sauvegarder" class="btn btn-primary" onclick="return confirm('Etes-vous sur de valider ces points et terminer la partie ?')"/>
	</div>
</form>	
    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
	{
        <h4>Il y a un problème ? </h4>
		<form asp-page-handler="CancelGame" method="post" asp-route-id="@Model.Equipes.Partie.Id" onclick="return confirm('Etes-vous sur de vouloir annuler cette partie ?')">
			<button class="btn btn-default">Annuler cette partie</button>
		</form>
	}
<a asp-page="/Parties/Details" asp-route-id="@Model.Equipes.PartieId">Retour</a>