﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans Orgatron</h1>

    <h3>Evenements en cours</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Evenements[0].Nom)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Evenements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        <a asp-page="/Evenements/Home" asp-route-id="@item.Id">Go</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
