﻿@page
@model Orgatron.Pages.InscriptionModel
@{
	ViewData["Title"] = "Inscription";
}

<h1>@ViewData["Title"]</h1>
<h4>Enregistrez-vous</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Input.Code" type="hidden" />
			<input asp-for="Input.Email" type="hidden" />
			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">S'enregistrer</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
